<h1><%= @pharmacy.name %></h1>
<p><%= "Address: #{@pharmacy.address}" %></p>



<div class="card">
  <%= cl_image_tag @medicine.photo.key %>
  <div class="card-info">
    <div class="card-info-top">
      <p><%= @medicine.name %></p>
      <p><%= @medicine.price %> MUR</p>
      <p><%= @medicine_stock[0].quantity %></p>
    </div>
    <div class="card-info-btm">
      <%= simple_form_for([@pharmacy, @order]) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.input :quantity, collection: 1..@medicine_stock[0].quantity %>
      <%# <%= f.input :delivery %>
      <%= f.hidden_field :medicine_id, value: @medicine.id %>
      <%= f.submit value: "Add to cart" %>
      <% end %>
    </div>
  </div>
</div>

<%= "-------------------------------------" %>


<div class="form">
  <%= form_with url: pharmacy_path(@pharmacy), method: :get, html: {class: "d-flex", data: {search_drugs_target: "form"}} do %>
    <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Browse pharmacy",
        data: {search_drugs_target: "input", action: "keyup->search-drugs#autocomplete"}
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
</div>







<div class="med-cards">
  <% @stocks.each do |stock| %>
    <% unless @medicine.name == stock.medicine.name %>
      <div class="card">
        <%= cl_image_tag stock.medicine.photo.key %>
        <p><%= stock.medicine.name %></p>
        <p><%= stock.medicine.price %> MUR</p>
        <p><%= stock.quantity %></p>

        <%= simple_form_for([@pharmacy, @order]) do |f| %>
        <%= f.input :quantity, collection: 1..stock.quantity %>
        <%# <%= f.input :delivery %>
        <%= f.hidden_field :medicine_id, value: stock.medicine.id %>
        <%= f.submit value: "Add to cart" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>


<%= link_to 'Back', pharmacies_path(query: @query) %>
