<h1><%= @pharmacy.name %></h1>
<p><%= "Address: #{@pharmacy.address}" %></p>



<div class="card">
  <p><%= @medicine.name %></p>
  <p><%= @medicine.price %> MUR</p>
  <p><%= @medicine_stock[0].quantity %></p>


  <%= simple_form_for([@pharmacy, @order]) do |f| %>
  <%= render 'shared/error_messages' %>
  <%= f.input :quantity %>
  <%# <%= f.input :delivery %>
  <%= f.hidden_field :medicine_id, value: @medicine.id %>
  <%= f.submit value: "Add to cart" %>
  <% end %>
</div>

<%= "-------------------------------------" %>


<div class="form">
  <%= form_with url: pharmacy_path(@pharmacy), method: :get, html: {class: "d-flex", data: {search_drugs_target: "form"}} do %>
    <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Browse pharmacy",
        data: {search_drugs_target: "input", action: "keyup->search-drugs#autocomplete"}
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
</div>








<% @stocks.each do |stock| %>
  <% unless @medicine.name == stock.medicine.name %>
    <div class="card">
      <p><%= stock.medicine.name %></p>
      <p><%= stock.medicine.price %> MUR</p>
      <p><%= stock.quantity %></p>

      <%= simple_form_for([@pharmacy, @order]) do |f| %>
      <%= f.input :quantity %>
      <%# <%= f.input :delivery %>
      <%= f.hidden_field :medicine_id, value: stock.medicine.id %>
      <%= f.submit value: "Add to cart" %>
      <% end %>
    </div>
  <% end %>
<% end %>


<%= link_to 'Back', pharmacies_path(query: @query) %>
