<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rx</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'upload_rx' %>
      </div>
      <div class="modal-footer">
        <%# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> %>
      </div>
    </div>
  </div>
</div>


<h1>Checkout</h1>

<div class="container-fluid">
  <div class="co-cards">
    <div class="co-card" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <h3>Upload Rx</h3>
    </div>







    <%= link_to chatroom_path(4) do %>
    <div class="co-card">

    <%= link_to "Talk to your pharmacy", chatroom_path(11) %>

      <%# <h3>Talk to your pharmacist</h3> %>
    </div>
    <% end %>
  </div>

  <div class="co-cards">
    <div class="co-card">
      <h3>Pickup</h3>
    </div>

    <div class="co-card">
      <h3>Delivery</h3>
    </div>
  </div>
</div>

<div class="d-grid gap-2 mt-3">
  <%= link_to "View order", "#", class: "btn btn-success" %>
</div>

<div class="d-grid gap-2 mt-3">
  <%= link_to "Pay", "#", class: "btn btn-success" %>
</div>
