<% if @order.present? %>
  <!-- Button trigger modal -->


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Rx</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render 'upload_rx' %>
        </div>
      </div>
    </div>
  </div>


  <h1>Checkout</h1>


  <div class="container-fluid">
    <div class="co-cards">

      <div class="co-card" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="mb-3 fa-solid fa-upload fa-3x"></i>
        <h3 class="mt-1">Upload Rx</h3>
      </div>


      <div class="co-card">
        <%= link_to chatroom_path(@chatroom) do %>
          <div class="text-center">
            <i class="mb-3 fa-solid fa-comment fa-3x"></i>
            <h3 class="mt-1">Talk to your pharmacist</h3>
          </div>
        <% end %>
      </div>
    </div>

    <%# <div class="co-cards">
      <%= simple_form_for(@order) do |f| %>
        <%# <%= f.radio_button :delivery, 0 %>
        <%# <%= label :delivery, 'Pickup', value: 1, class: "co-card" %>
        <%# <%= f.radio_button :delivery, 1 %>
        <%# <%= label :delivery, 'delivery', value: 0, class: "co-card" %>
        <%# <%= f.submit %>
      <%# <% end %>
    <%# </div> %>


    <p class="mt-3">Choose your delivery method:</p>
    <%= simple_form_for(@order) do |f| %>
    <div class="co-cards">
        <%= f.radio_button :delivery, 0 %>
        <%= f.label :delivery, 'Pickup', value: 0, class: "co-card co-card-del" do %>
          <i class="mb-3 fa-solid fa-shop fa-3x"></i>
          <h3 class="mt-1">Pickup</h3>
        <% end %>
        <%= f.radio_button :delivery, 1 %>
        <%= f.label :delivery, 'Delivery', value: 1, class: "co-card co-card-del" do %>
          <i class="mb-3 fa-solid fa-car-side fa-3x"></i>
          <h3 class="mt-1">Delivery</h3>
        <% end %>
      </div>
    <div class="d-grid gap-2 mt-3 btn-checkout">
      <%= f.submit 'Confirm', class: "btn btn-success" %>
    </div>

    <% end %>


  </div>
  <div class="container mt-5" style="height: 10vh;"></div>
<% else %>
<h4>No current order</h4>
<% end %>
