<h1>MedQ</h1>
<p>Medicine at your doorstep</p>

<div data-controller="search-drugs">
  <div class="form">
    <%= form_with url: pharmacies_path, method: :get, html: {class: "d-flex", data: {search_drugs_target: "form"}} do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find your drug or look for a pharmacy",
        data: {search_drugs_target: "input", action: "keyup->search-drugs#autocomplete"}
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>


  <%# <%= render 'pharmacies/list', medicines: @medicines %>
</div>

<div class="container-fluid py-2 mt-5">
    <h2 class="font-weight-light">Special Offers</h2>
    <div class="scrolling-wrapper">
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
    </div>
</div>

<%# <% @medicines.each do |medicine| %>
  <%# <% if medicine.photo.attached? %>
    <%# <%= cl_image_tag medicine.photo.key, height: 300, width: 400, crop: :fill %>
  <%# <% end %>
<%# <% end %>
