<div class="align-items-center" id="home-banner">
  <%= image_tag("banner2.svg", class: "banner-img") %>
  <div class="banner-info">
    <h1><span>Med</span>Q</h1>
    <p>Pharmacy in your pocket</p>
  </div>
</div>

<div class="container-fluid features mt-4">
  <div class="card-feature">
    <i class="mb-3 fa-solid fa-upload fa-3x"></i>
    <p class="card-feature-text mt-1">Upload Rx</p>
  </div>
  <div class="card-feature">
    <i class="mb-3 fa-solid fa-comment fa-3x"></i>
    <p class="card-feature-text mt-1">Chat online</p>
  </div>
  <div class="card-feature mt-3">
    <i class="mb-3 fa-solid fa-shop fa-3x"></i>
    <p class="card-feature-text mt-1">Pick up</p>
  </div>
  <div class="card-feature mt-3">
    <i class="mb-3 fa-solid fa-car-side fa-3x"></i>
    <p class="card-feature-text mt-1">Get delivered</p>
  </div>
</div>

<div class="container-fluid mt-4">
  <div data-controller="search-drugs">
    <div class="form">
      <%= form_with url: pharmacies_path, method: :get, html: {data: {search_drugs_target: "form"}} do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find your drug",
          data: {search_drugs_target: "input", action: "keyup->search-drugs#autocomplete"}
        %>
        <div class="d-grid gap-2 mt-3">
          <%= submit_tag "Search", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  <%# <%= render 'pharmacies/list', medicines: @medicines %>
  </div>
</div>

<div class="container-fluid py-2 mt-4">
    <h2 class="font-weight-light">News</h2>
    <div class="scrolling-wrapper">
        <div class="card card-body" id="home-card1">
        </div>
        <div class="card card-body" id="home-card2">
        </div>
        <div class="card card-body" id="home-card3">
        </div>
        <div class="card card-body" id="home-card4">
        </div>
        <div class="card card-body" id="home-card5">
        </div>
        <div class="card card-body" id="home-card6">
        </div>
        <div class="card card-body" id="home-card7">
        </div>
    </div>
</div>
<div class="container mt-5" style="height: 10vh;"></div>
<%# <% @medicines.each do |medicine| %>
  <%# <% if medicine.photo.attached? %>
    <%# <%= cl_image_tag medicine.photo.key, height: 300, width: 400, crop: :fill %>
  <%# <% end %>
<%# <% end %>
