<div class="align-items-center" id="home-img">
  <div id="home-title">
    <h1>MedQ</h1>
    <p>Pharmacy in your pocket</p>
  </div>
</div>

<div class="container-fluid mt-5">
  <div data-controller="search-drugs">
    <div class="form">
      <%= form_with url: pharmacies_path, method: :get, html: {data: {search_drugs_target: "form"}} do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find your drug",
          data: {search_drugs_target: "input", action: "keyup->search-drugs#autocomplete"}
        %>
        <div class="d-grid gap-2 mt-3">
          <%= submit_tag "Search", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  <%# <%= render 'pharmacies/list', medicines: @medicines %>
  </div>
</div>

<div class="container-fluid py-2 mt-5">
    <h2 class="font-weight-light">Special Offers</h2>
    <div class="scrolling-wrapper">
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
    </div>
</div>

<%# <% @medicines.each do |medicine| %>
  <%# <% if medicine.photo.attached? %>
    <%# <%= cl_image_tag medicine.photo.key, height: 300, width: 400, crop: :fill %>
  <%# <% end %>
<%# <% end %>
